@model IEnumerable<Matthewpbaileydesigns.Core.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<h1>Products</h1>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4" style="height:28.125em;">
            <div class="col-md-12">
                <img class="img" style="height:15.625em;" src="~/Content/ProductImages/@product.Image" />
            </div>
            <div class="col-md-12">
                <strong class="display-4">@Html.ActionLink(product.Name, "Details", new { id = product.Id })</strong>
                <hr />
                <strong>$@product.Price</strong>
                <br />
                <br />
                <p>@product.Description</p>
                <br />
                <a href="/" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
    }
</div>
<br />
<br />
<div class="col-md-12 clearfix"></div>